<h1>Bands</h1>


<% @bands.each do |band| %>
	<h3> <a href="bands/<%=band.id%>"><%= band.name%></a>  </h3>
	<h5>Genre: <%= band.genre %></h5>
	<h5>Explicit: <%=band.explicit_lyrics %></h5>
  <a href="/bands/<%= band.id%>/edit">Edit Band</a>
<%end%>
