
	<h2> <strong class="value"><%= @band.name %></strong></h2>
	<h5>Genre: <strong class="value"><%= @band.genre %></strong></h5>
	<h5>Explicit: <strong class="value"><%=@band.explicit_lyrics %></strong></h5>
<br>
	<h4 class="center">Upcoming Event Dates</h4>
		<hr>
			<% @events.each do |event| %> 
			<p>	<%= event.date %>
			<strong class="value"><%= event.venue.name%></strong> </p>
				<hr>
			<% end %>
	