
	<h1> <%= @band.name %></h1>
	<h3>Genre: <%= @band.genre %></h3>
	<h3>Explicit: <%=@band.explicit_lyrics %></h3>
<br>
	<h5>Upcoming Event Dates:</h5>
		<hr>
			<% @events.each do |event| %>
				<%= event.date %>
				<%= event.venue.name%>
				<br><hr>
			<% end %>
	