
	<h2> <%= @band.name %></h2>
	<h5>Genre: <%= @band.genre %></h5>
	<h5>Explicit: <%=@band.explicit_lyrics %></h5>
<br>
	<h4>Upcoming Event Dates:</h4>
		<hr>
			<% @events.each do |event| %> 
			<h5>	<%= event.date %> </h5>
			<h5>	<%= event.venue.name%> </h5>
				<hr>
			<% end %>
	