
	<h1> <%= @band.name %></h1>
	<h3>Genre: <%= @band.genre %></h3>
	<h3>Explicit: <%=@band.explicit_lyrics %></h3>

	<h5>Upcoming Event Dates:</h5>
			<% @events.each do |event| %>
				<%= event.date %>
				<%= event.venue.name%>
				<br>
			<% end %>
	