<%= form_for @venue do |f| %>
	<%= f.text_field :name, placeholder: 'Venue Name' %>
	<%= f.text_field :city, placeholder: 'City' %>
	<%= f.text_field :state, placeholder: 'State' %>
	<%= f.text_field :family_friendly, placeholder: 'Family Friendly', class:"check" %>
<%= f.submit class:"submit"%>
<%end%>
<p class="link"><%= link_to "Delete this", venue_path, method: :delete%></p>