<h1>Venues</h1>

<% @venues.each do |venue| %>

<h3>Name:	<%= venue.name %></h3>
<h5>Location: <%= venue.city %>, <%= venue.state %></h5>
<h5>Family Friendly: <%= venue.family_friendly %> </h5>
<a href="/venue/<%= venue.id %>">Venue Info</a>
	<br>
	
	<%end%>
	<br><br>