
<h3>Name:	<%= @venue.name %></h3>
<h5>Location: <%= @venue.city %>, <%= @venue.state %></h5>
<h5>Family Friendly: <%= @venue.family_friendly %> </h5>
<%= link_to "Edit this", edit_venue_path %>
<br>
<%= link_to "Create new Event", new_event_path %>