<h1>Events</h1><hr>

<% @events.each do |event| %>

  <h3><strong class="value"><%= event.venue.name %></strong></h3>
  <h5>Band: <strong class="value"><%= event.band.name %></strong></h5>
  <p>Date: <strong class="value"><%= event.date %></strong></p>
  <p>Alcohol Served: <strong class="value"><%= event.alcohol_served %></strong></p>
  <a href="/events/<%= event.id %>" class="link">See Event</a><hr>

	
<%end%>
