<h1>Events</h1>

<% @events.each do |event| %>

<h3>Date:	<%= event.date %></h3>
<h5>Band: <%= event.band.name %></h5>
<h5>Venue: <%= event.venue.name %></h5>
<h5>Alcohol Served: <%= event.alcohol_served %> </h5>
<a href="/events/<%= event.id %>">See Event</a>
	<br>
	
	<%end%>
	<br><br>
