<% if @search_event%>
  <h3>Venue: <strong class="value"><%= @search_event.venue.name %></strong></h3>
  <h4>Band: <strong class="value"><%= @search_event.band.name %></strong></h4>
  <p>Date: <strong class="value"><%= @search_event.date %></strong></p>
 <p>Alcohol Served: <strong class="value"><%= @search_event.alcohol_served %></strong></p>
<%else%>
  <h1><strong class="value center">There are no events on <%= @date%>. Sorry!</strong></h1>
<%end%>