<h3 class="bands"><%= @event.venue.name %></h3>
<p>Band: <strong class="value"><%= @event.band.name %></strong></p>
<p>Date: <strong class="value"><%= @event.date %></strong></p>
<p>Alcohol Served: <strong class="value"><%= @event.alcohol_served %> </strong></p>
<p class="link"><%= link_to "Edit this", edit_event_path %></p>